#Project 3-Handling Data

#1.Understand the Business 
problem Statement:  A HR wants to decide on the salary package for the candidate with available data:

1.Experience 

2.Test Score 

3.Interview Score 

4.salary

In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('/content/project3-Dataset .csv')
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [39]:
import math

In [40]:
testmedian = math.floor(df['test_score'].median())
testmedian

8

In [41]:
df['test_score']=df['test_score'].fillna(testmedian)

print(df)

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         8.0                7   72000
7     eleven         7.0                8   80000

In [42]:
df['experience']=df['experience'].fillna('zero')
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         8.0                7   72000
7     eleven         7.0                8   80000

#Converting text to number

In [43]:
pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [44]:
from word2number import w2n
w2n.word_to_num('ten')

10

In [45]:
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         8.0                7   72000
7     eleven         7.0                8   80000

In [46]:
def convertwordtonumber(x):
  return w2n.word_to_num(x)

In [47]:
df['experience']=df['experience'].apply(convertwordtonumber)

In [48]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

#X and Y values

In [49]:
x = df.drop('salary',axis=1)
x

   experience  test_score  interview_score
0           0         8.0                9
1           0         8.0                6
2           5         6.0                7
3           2        10.0               10
4           7         9.0                6
5           3         7.0               10
6          10         8.0                7
7          11         7.0                8

In [50]:
y=df['salary']
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

#Building ML model

In [51]:
  from sklearn import linear_model
  reg=linear_model.LinearRegression()
  reg.fit(x,y)

LinearRegression()

In [54]:
reg.predict([[4,7,8]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([59550.94614265])

In [55]:
reg.score(x,y)

0.9616780002577959