#Final process

Client will give a file with n number of input variables along with values we have to use the ML model we built and haveto predict the ouput for entire data and convert it to csv file and dw it

Then we have to share

In [4]:
#upload the model again

In [5]:
import pickle

In [3]:
with open('/content/Metupalayammodel','rb') as f:
  reg=pickle.load(f)

In [6]:
reg.predict([[1000]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([797154.92957746])

In [7]:
#upload csv file
import pandas as pd

In [9]:
df = pd.read_csv('/content/clientfile_project1.csv')
df

   area
0   800
1  1250
2  1750
3  2250
4  3000
5  3200
6  2700
7  2500

In [10]:
predicteddf = reg.predict(df)
predicteddf

array([ 637323.94366197,  996943.66197183, 1396521.12676056,
       1796098.5915493 , 2395464.78873239, 2555295.77464789,
       2155718.30985915, 1995887.32394366])

In [11]:
#create new coloumn in existing df
df

   area
0   800
1  1250
2  1750
3  2250
4  3000
5  3200
6  2700
7  2500

In [14]:
df['price']=predicteddf
df

   area         price
0   800  6.373239e+05
1  1250  9.969437e+05
2  1750  1.396521e+06
3  2250  1.796099e+06
4  3000  2.395465e+06
5  3200  2.555296e+06
6  2700  2.155718e+06
7  2500  1.995887e+06

In [15]:
#convert the final df to csv file
df.to_csv('clientoutputfile1.csv',index=False)