#Problem Statement:

A Client is looking for a website which will show the price of houses based on the area, the number of bedrooms and how old the house is but he could not find the best one. Can you develop an ML model for the given dataset and create the Model.

#Understanding the problem statement:

The client needs to predict the price of the houses.

#Data Collection and Analysis

In [1]:
import pandas as pd    #For Data analysis

In [2]:
df = pd.read_csv('/content/HousepriceData .csv')
df

    area  bedroom  age     price
0   1000        1    3   2500000
1   1600        2    1   3500000
2   2200        2    2   4000000
3   2600        3    4   4500000
4   3600        3    5   5700000
5   4200        4    2   7000000
6   4500        4    3   8500000
7   2700        2    1   5000000
8   1800        1    1   3800000
9   3300        3    3   5000000
10  2950        3    2   5350000
11  5200        4    3  12200000
12  3700        3    2   6500000
13  1450        2    1   3000000
14  1250        1    1   2800000

#Preparing X and y

In [4]:
X = df.drop('price',axis=1)
X

    area  bedroom  age
0   1000        1    3
1   1600        2    1
2   2200        2    2
3   2600        3    4
4   3600        3    5
5   4200        4    2
6   4500        4    3
7   2700        2    1
8   1800        1    1
9   3300        3    3
10  2950        3    2
11  5200        4    3
12  3700        3    2
13  1450        2    1
14  1250        1    1

In [5]:
y=df['price']
y

0      2500000
1      3500000
2      4000000
3      4500000
4      5700000
5      7000000
6      8500000
7      5000000
8      3800000
9      5000000
10     5350000
11    12200000
12     6500000
13     3000000
14     2800000
Name: price, dtype: int64

#Building ML model

In [6]:
from sklearn import linear_model

In [7]:
reg = linear_model.LinearRegression()

In [8]:
reg.fit(X,y)

LinearRegression()

In [9]:
area = int(input('Enter the area in sq.ft of the house:'))
bedroom = int(input('Enter no.of.bedrooms in the house:'))
age = int(input('Enter the age of the house:'))
price = reg.predict([[area,bedroom,age]])
print('The Price of the house:',price)

Enter the area in sq.ft of the house:3100
Enter no.of.bedrooms in the house:2
Enter the age of the house:1
The Price of the house: [6559961.27004704]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [10]:
reg.score(X,y)

0.8981252548041194

#Formula

In [11]:
m = reg.coef_
m

array([   2421.86929461, -618984.65161505, -174748.60403957])

In [13]:
b = reg.intercept_
b

464884.364012504

In [15]:
m1 = 2421.86929461
m2 = -618984.65161505
m3 =  -174748.60403957

In [17]:
Y = (m1*3100)+(m2*2)+(m3*1)+b
Y

6559961.270033834

#Donwload the Model using Pickle

In [18]:
import pickle

In [19]:
with open('Housepricemodel','wb')as f:
  pickle.dump(reg,f)